@model IEnumerable<ContosoUniversity.DataAccessLayer.Entities.LectureHall>

@{
    ViewBag.Title = "Student Body Statistics";
}

<h2>Student Body Statistics</h2>

<table>
    <tr>
        <th>
            Lecture hall name
        </th>
        <th>
            Floor
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @item.Name
            </td>
            <td>
                @item.Floor
            </td>
        </tr>
    }
</table>
